
    .data
    {
        .card
        {
            box-shadow: black 3px 3px 3px;
            margin: 50px 0;
            padding: 0;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            font-size: 1.3rem;
            img
            {
                width: 60%;
                text-align: center;
                margin: 60px 30px;
            }
        }
    }
    .contect
    {
        .card
        {
            box-shadow: black 5px 5px 5px;
            color: #000;
            padding: 0;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        
    }
    .docum
    {
        .card
        {
            box-shadow: black 5px 5px 5px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            color: black;
            padding: 0;
        }
        
    }
    .database
    {
        color: purple;
        font-weight: bold;
        text-transform: capitalize;
    }
    .cert
    {
        box-shadow: black 3px 3px 3px;
        box-shadow: rgb(110, 3, 3) -3px -3px 3px;
        margin: 30px 0;
        border: black 1px solid;
        padding: 20px 0;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        ul
        {
            border: black 1px solid;

        }
    }
    .tags
    {
        box-shadow: black 3px 3px 3px;
        box-shadow: rgb(110, 3, 3) -3px -3px 3px;
        border: black 1px solid;
        margin: 30px 0;
        padding: 20px 0;
        font-size: 1.8rem;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
 
